<!DOCTYPE html>
<html>
<head>
    <title>FastAPI Result</title>
</head>
<body>
    <h1>These are UMLs which are input:</h1>
    <p>{{ output_html }}</p>
    <div class="col-12">
    {% for rs in Input_Images %}
        <div style="padding:20px;float:left;">
            <img width="500" src="{{ url_for('Input_Images', path=rs) }}">
        </div>
    {% endfor %}
    </div>
    <br/>
    <div>
        <br/>
        <form action="/processRule" method="post">
            <b>Enter the Rule:</b>
            <br/>
            <input  style="width: 75%;" type="text" name="input_text">
            <br/>
            <input type="submit" value="Rule Check">
        </form>
    </div>
    <br/>
    <div>
        <b>Check for all smells ?</b>
        <br/>
        <form action="/checkSmells" method="post">
            <input type="submit"  value="Smells Check">
        </form>
    </div>
</body>
</html>
