<!DOCTYPE html>
<html>
<head>
    <title>FastAPI Result</title>
</head>
<body>
    <h1>These are UMLs which are input:</h1>
    <p>{{ output_html }}</p>
    <div class="col-12">
    {% for rs in Input_Images %}
        <div style="padding:20px;float:left;">
            <img width="500" src="{{ url_for('Input_Images', path=rs) }}">
        </div>
    {% endfor %}
    </div>
    <br/>
    <div style="float: left; clear: left; width: 75%;">
        <br/>
        <form action="/processRule" method="post">
            <br/>
            <label><b>Enter the Rule:</b></label>
            <br/>
            <input  style="width: 100%;" type="text" name="input_text">
            <br/>
            <input type="submit" value="Rule Check">
            <br/>
        </form>
    </div>
    <br/>
    <div style="float: right; width: 20%;">
        <b>Check for all smells ?</b>
        <br/>
        <form action="/checkSmells" method="post">
            <input type="submit"  value="Smells Check">
        </form>
    </div>
</body>
</html>
